/* .container {
  max-width: 1200px;
  margin: 0 auto;
} */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  max-width: 80%;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col-1 {
  width: calc(100% / 12 * 1);
  padding: 1rem;
}
.col-2 {
  width: calc(100% / 12 * 2);
  padding: 1rem;
}
.col-3 {
  width: calc(100% / 12 * 3);
  padding: 1rem;
}
.col-4 {
  width: calc(100% / 12 * 4);
  padding: 1rem;
}
.col-5 {
  width: calc(100% / 12 * 5);
  padding: 1rem;
}
.col-6 {
  width: calc(100% / 12 * 6);
  padding: 1rem;
}
.col-7 {
  width: calc(100% / 12 * 7);
  padding: 1rem;
}
.col-8 {
  width: calc(100% / 12 * 8);
  padding: 1rem;
}
.col-9 {
  width: calc(100% / 12 * 9);
  padding: 1rem;
}
.col-10 {
  width: calc(100% / 12 * 10);
  padding: 1rem;
}
.col-11 {
  width: calc(100% / 12 * 11);
  padding: 1rem;
}
.col-12 {
  width: calc(100% / 12 * 12);
  padding: 1rem;
}

.p-left-0 {
  padding-left: 0;
}
/* .box {
  background-color: orange;
  border: 2px solid;
} */
