body {
  height: 200vh;
  background-color: #ddb8b8;
}

.container {
  width: 60vw;
  height: 60vh;
  background-color: teal;
  margin: 100px auto;
  background-image: url("https://t4.ftcdn.net/jpg/00/97/58/97/360_F_97589769_t45CqXyzjz0KXwoBZT9PRaWGHRk5hQqQ.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  /* background-size: contain; */
  background-size: cover;
  background-attachment: fixed;
}
